<div class="mx-5 sm:w-50">
    <h1 class="flex flex-grow sm:justify-end justify-center">Skills</h1>
    <div class="flex flex-wrap sm:justify-end justify-center gap-1 *:hover:text-white">
        <div class="flex content-center gap-1 p-1 transition-all group 
            hover:bg-[var(--color-manucci-primary)] rounded-md" 
            *ngFor="let point of items">
                <mat-icon svgIcon={{point.icon}}></mat-icon>
                <p class="pe-1 hidden group-hover:visible">{{point.name}}</p>
        </div>
    </div>
</div>