@import "tailwindcss";

@layer components {
    .timeline-container {
        position: relative;
        width: 100%;
    }

    .line {
        left: 0;
        right: 0;
        height: var(--text-xs);
        background-color: var(--color-manucci-primary);
        transform: translateY(-50%);
    }

    .pin {
        position: absolute;
        width: var(--text-xl);
        height: var(--text-xl);
        background-color: var(--color-manucci-secondary);
        border-radius: 50%;
        cursor: pointer;
        transform: translateX(-50%)  translateY(-50%);
    }

    .pin:hover {
        background-color: var(--color-manucci-light);
    }
}