<div class="flex flex-row -space-x-2 *:transition-all h-10 w-8
    *:p-2 *:hover:bg-[var(--color-manucci-primary)] *:rounded-b-md *:hover:shadow 
    *:text-[var(--color-manucci-primary)] *:hover:text-white
    *:hover:scale-100 *:cursor-pointer *:scale-75"> 
    <a href="#">
        <mat-icon svgIcon="whatsapp"></mat-icon>
    </a>
    <a href="#">
        <mat-icon svgIcon="instagram"></mat-icon>
    </a>
    <a href="#">
        <mat-icon svgIcon="github"></mat-icon>
    </a>
    <a href="#">
        <mat-icon svgIcon="twitter"></mat-icon>
    </a>
</div>