@use "tailwindcss";
@use '@angular/material' as mat;

:root { 
    --color-manucci-primary: var(--color-sky-950);
    --color-manucci-secondary: var(--color-sky-900);
    --color-manucci-light: var(--color-sky-600);

    h1 {
        color: var(--color-manucci-primary);
    }

    @include mat.progress-spinner-overrides((
    active-indicator-color: var(--color-manucci-primary),
  ));
}

html, body { height: 100%; }

