<div class="text-center text-manucci mx-5 sm:mx-0">
    <h1 class="text-3xl font-bold">{{portfolio.name}}</h1>
    <div class="justify-center flex flex-col sm:flex-row text-center sm:gap-5 mt-5">
        <div class="flex gap-2">
            <mat-icon fontIcon="work" class="mat-icon-medium"></mat-icon>
            <p>{{portfolio.jobTitle}}</p>
        </div>
        <div class="flex gap-2">
            <mat-icon fontIcon="location_on" class="mat-icon-medium"></mat-icon>
            <p>{{portfolio.location}}</p>
        </div>
        <div class="flex gap-2">
            <mat-icon fontIcon="phone" class="mat-icon-medium"></mat-icon>
            <p>{{portfolio.mobilePhone}}</p>
        </div>
    </div>
</div>