.mat-icon-small {
    font-size: 16px;
}

.mat-icon-medium {
    padding-top: 2px;
    font-size: 20px;
}

.mat-icon-large {
    font-size: 48px;
}

.text-manucci {
    color: var(--color-manucci-primary);
}